.gradient-text {
  color: transparent;
  background-image: var(--gradient-conic);
  padding: 0.6rem 0;
  background-size: 50%;
  background-clip: text;
}

@keyframes gradient-flare {
  to {
    background-position: 200% center;
  }
}

.gradient-text-linear {
  color: transparent;
  background-image: var(--gradient-rainbow);
  background-size: 200% auto;
  background-clip: text;
  animation: gradient-flare 20s linear infinite;
}


.gradient-text-linear-static {
  color: transparent;
  background-image: var(--gradient-rainbow);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
}