<link 
  rel="preload"
  href="/assets/fonts/portada/Portada-VF.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<link 
  rel="preload"
  href="/assets/fonts/portada/PortadaItalic-VF.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<link 
  rel="preload"
  href="/assets/fonts/literata/LiterataTT-TextRegular.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<link 
  rel="preload"
  href="/assets/fonts/literata/LiterataTT-TextItalic.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<link 
  rel="preload"
  href="/assets/fonts/literata/Literata-VF.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<link 
  rel="preload"
  href="/assets/fonts/literata/LiterataItalic-VF.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<link 
  rel="preload"
  href="/assets/fonts/abril/AbrilTitlingNar-SemiBold.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<link 
  rel="preload"
  href="/assets/fonts/abril/AbrilTitlingNar-SemiBoldItalic.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<link 
  rel="preload"
  href="/assets/fonts/abril/AbrilTitlingNar-Bold.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<link 
  rel="preload"
  href="/assets/fonts/abril/AbrilTitlingNar-BoldItalic.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>


<!-- preloads in page data -->
{%- if preloads -%}
  <!-- prettier-ignore -->
  <link rel="preload"
			href="{{ preloads.href }}"
			as="{{ preloads.as }}"
			{% if preloads.type %}type={{ preloads.type }}{% endif %}{% if preloads.imagesrcset %}imagesrcset="{{ preloads.imagesrcset }}"{% endif %}
			{% if preloads.crossorigin %}crossorigin{% endif %} />
{% endif %}
