<link 
  rel="preload"
  href="/assets/fonts/fern/FernVariable-Roman-VF.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<link 
  rel="preload"
  href="/assets/fonts/fern/FernVariable-Italic-VF.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<link 
  rel="preload"
  href="/assets/fonts/fraunces/Fraunces--latin_basic.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<link 
  rel="preload"
  href="/assets/fonts/fraunces/Fraunces-Italic--latin_basic.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>



<!-- preloads in page data -->
{%- if preloads -%}
  <!-- prettier-ignore -->
  <link rel="preload"
			href="{{ preloads.href }}"
			as="{{ preloads.as }}"
			{% if preloads.type %}type={{ preloads.type }}{% endif %}{% if preloads.imagesrcset %}imagesrcset="{{ preloads.imagesrcset }}"{% endif %}
			{% if preloads.crossorigin %}crossorigin{% endif %} />
{% endif %}
