---
layout: base
permalink: /index.html
title: 'Hypnagaga'
description: 'It could be anything, even a website.'
blog:
  title: 'Posts'
  intro: "Some of the most recent posts on this website."
---

<div class="wrapper"> 
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    {% svg "divider/waves", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h2 id="an-eleventy-starter">Hello, World</h2>
      <p>
        Morbi eu pretium diam. Integer feugiat elit quis arcu sagittis eleifend. Donec consectetur enim a orci finibus, vel scelerisque ipsum maximus. Vestibulum tempus diam et dui sagittis, a venenatis leo commodo. Vivamus vitae ligula imperdiet, consequat tellus vel, interdum magna. Nulla accumsan nisl vitae ligula laoreet porttitor. Etiam varius purus eu orci gravida ornare. Vestibulum tristique augue odio, quis pretium sem viverra eu. Nam id mattis nisl. Nullam lobortis dignissim consectetur.
      </p>
    </div>
  </article>

  <section class="full | region">
    <div class="wrapper flow prose">
      <h2>{{ blog.title }}</h2>
      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}
      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
            {% set headingLevel = "h3" %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
