---
layout: base
permalink: /index.html
title: 'Hypnagaga'
description: 'It could be anything, even a website.'
blog:
  title: 'Posts'
  intro: "Some of the most recent posts on this website."
---

<div class="wrapper"> 
<!--
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    {% svg "divider/waves", null, "divider" %}
  </header>
-->
  {% css "local" %}
  {% include "css/page-hero.css" %}
{% endcss %}

  <section class="hero full | region">
    {% image '/assets/images/design/visit.png', 'A hero image', '', 'eager', 'hero__image-container', '', [650, 960, 1400, 1920], '100vw' %}
    <div class="wrapper flow prose hero__text">
      <h2 id="an-eleventy-starter">Hello, World</h2>
      <p><b>hyp•na•gog•ic</b> \;hipna;gajik\ <i>adj</i> [<i>hypnagogic</i> fr. F <i>hypnagogique</i>, fr. <i>hypn</i>- + -<i>agogique</i> (fr. Gk
-<i>agōgikos</i> as in <i>paidagōgikos</i> pedagogic)]: of, relating to, or associated with the drowsiness
preceding sleep</p>
      <p><b>ga•ga</b> \'gä|,gä, 'gå|,gå, |_ga\ <i>adj</i> [F, fr. <i>gaga</i>, n., fool, dodderer, of imit. origin] <b>1</b> <b>a</b> : mentally foolish <b>b</b> : characterized by a marked and interesting or foolish variation from a conventional or expected pattern <b>:</b> marked by interesting or foolish incongruities or surprises</p>
      <p><b>2</b> <b>:</b> markedly or wildly and often foolishly enthusiastic (as from love or infatuation)</p>
    </div>
  </section>

  <section class="full | region">
    <div class="wrapper flow prose">
      <h2>{{ blog.title }}</h2>
      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}
      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
            {% set headingLevel = "h3" %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
