---
layout: base
title: Search
description: 'Sift through the posts.'
permalink: /search/
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-secondary)">
    <div class="section__inner flow region" style="--region-space-top: var(--space-xl-2xl)">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>

    {% svg "divider/layeredwaves", null, "divider" %}
  </header>

  <div class="region flow prose" style="--region-space-top: var(--space-xl-2xl)">
    <p>A primitive search function.</p>
  </div>

     {% include 'partials/search-form.njk' %}

</div>
