<form class="search-form" id="search-form" role="search">
    <label class="search-form__label" for="search-input">Search</label>
    <input class="search-form__input"
           placeholder="Search"
           type="search"
           id="search-input">
    <button class="search-form__button" type="submit" title="Search">Search</button>
</form>